<html>
<head>
<link rel="stylesheet" href="http://static.ivacuum.ru/i/main.css" type="text/css">
<link rel="stylesheet" href="http://static.ivacuum.ru/i/move/design3.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{META}
<script language="JavaScript" src="http://static.ivacuum.ru/i/sl2.21.js"></script>
<script language="JavaScript" src="http://static.ivacuum.ru/i/ch2.81.js"></script>
<script src="http://static.ivacuum.ru/i/commoninf.js"></script>

<script>
function dv() {
	document.write('<table cellspacing=1 width=100%><td height=1 bgcolor=#b0b0b0></table>');
}

function fastshow (content) {
	var el = document.getElementById("mmoves");
	var o = window.event.srcElement;
	if (content!='' && el.style.visibility != "visible") {el.innerHTML = '<small>'+content+'</small>';}
	var x = window.event.clientX + document.documentElement.scrollLeft + document.body.scrollLeft + 3;
	var y = window.event.clientY + document.documentElement.scrollTop + document.body.scrollTop+5;
	el.style.left = x + "px";
	el.style.top  = y + "px";
	if (el.style.visibility != "visible") {
		el.style.visibility = "visible";
	}
	if (window.event.clientX + el.offsetWidth + 3 > document.body.clientWidth) { x-=(window.event.clientX + el.offsetWidth + 3 - document.body.clientWidth); el.style.left = x + "px"; }
}

function hideshow () {
	document.getElementById("mmoves").style.visibility = 'hidden';
}

var Blocks=new Array("Нет","Голова", "Грудь", "Живот", "Пояс", "Ноги");
function adh(a,d) {
	var s, s1;

	s1="";
	if (a > 0) { s1="Атака: "+Blocks[a]+"<br>"};
	var dd=""+d;
	dd=dd.split('');
	s="";

	for (i=0; i<dd.length; i++) {
		if (s) {
			if (i == dd.length - 1) {s+=" и "} else {s+=", "};
		}
		s+=Blocks[parseInt(dd[i])];
	}
	s=s1 + "Защита: " + s;
	document.write("<span style='' onmouseover='fastshow(\""+s+"\"); this.style.textDecoration=\"underline\"' onmouseout='hideshow(); this.style.textDecoration=\"\"'>");
}


var attack = new Array();
var nattack = 0;
var defend = false;
var enemy = "";
var myid = "1122324962";

function check()
{

   if (nattack < parseInt('{ATTACKS}')) { errmess('Удар не выбран.'); return false; }

   if (! defend) { errmess('Блок не выбран.'); return false; }
   return true;
}
function Prv(logins)
{
	top.frames['bottom'].window.document.F1.text.focus();
	top.frames['bottom'].document.forms[0].text.value = logins + top.frames['bottom'].document.forms[0].text.value;
}



function setattack(i,j,sw)
{
  if (!attack[j]) nattack++;
  attack[j]=i;
  if (sw==null && j==iC) {
	if (document.getElementById("f1t")) {for (t=1;t<6;t++) {document.getElementById(wC[(iC)]+t).style.backgroundColor = "transparent";}}
	iC++;
	if (iC==maxiC) { iC=0; }
	if (document.getElementById("f1t")) {for (t=1;t<6;t++) {document.getElementById(wC[(iC)]+t).style.backgroundColor = "#CCCCCC";}}
  }
}
function setdefend(i,sw) {
	defend=i;
	if (sw==null && iC==(maxiC-1)) {
		if (document.getElementById("f1t")) {for (i=1;i<6;i++) {document.getElementById(wC[(iC)]+i).style.backgroundColor = "transparent";}}
		iC++;
		if (iC==maxiC) { iC=0; }
		if (document.getElementById("f1t")) {for (i=1;i<6;i++) {document.getElementById(wC[(iC)]+i).style.backgroundColor = "#CCCCCC";}}
  	}
}
</script>

<style type="text/css">
.menu {
  background-color: #d2d0d0;
  border-color: #ffffff #626060 #626060 #ffffff;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}

a.menuItem {
  border: 0px solid #000000;
  color: #003388;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
}

a.menuItem:hover {
  background-color: #a2a2a2;
  color: #0066FF;
}
span {
  FONT-SIZE: 10pt;
  FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif;
  text-decoration: none;
  FONT-WEIGHT: bold;
  cursor: hand;
}
</style>
<script language="javascript" type="text/javascript">
var iC = 0;
var maxiC = 3;
var wC = new Array('a','b','D');

function set_action () {
	var e = event;
	if (typeof attacks == 'undefined') {return;}
	if (((e.keyCode>=49 && e.keyCode<=53) || (e.keyCode>=97 && e.keyCode<=101)) && iC<3 && document.getElementById("f1t")) {
		var differ = 48;
		if (e.keyCode>=97) {differ = 96;}
		if (iC < (maxiC - 1)) {setattack(e.keyCode-differ,iC,1);}
		if (iC == (maxiC - 1)) {setdefend(e.keyCode-differ,1);}
		for (i=1;i<6;i++) {document.getElementById(wC[(iC)]+i).style.backgroundColor = "transparent";}
		document.getElementById(wC[iC++]+(e.keyCode-differ)).checked = true;
	}
	if (iC==maxiC) {
		iC=0;
		document.getElementById("let_attack").focus();
	}
	if (document.getElementById("f1t")) {for (i=1;i<6;i++) {document.getElementById(wC[(iC)]+i).style.backgroundColor = "#CCCCCC";}}
	return;
}
function setf () {
	
	document.getElementById("f1t").focus();
	for (i=1;i<6;i++) {document.getElementById(wC[(iC)]+i).style.backgroundColor = "#CCCCCC";}
	
	return;
}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="e2e0e0" onload='setf()'>
<div id="mmoves" style="background-color: #FFFFCC; visibility: hidden; overflow: visible; position: absolute; border-color: #666666; border-style: solid; border-width: 1px; padding: 2px; white-space: nowrap;"></div>
<div id="hint4" class="ahint"></div>
<table width="100%" cellspacing="4" cellpadding="0">
<form action="/battle.pl" method="post" name="f1" id="f1" onkeyup="set_action();">
<input type="hidden" name="myid" value="1122324962">
  <tr>
	<td valign="top">
	  <table border="0" cellpadding="1" cellspacing="1">
		<tr valign="top">
		  <td>
			<table width="250" border="0" cellspacing="0" cellpadding="1">
			  <tr>
				<td align="left" valign="top">
				  <table border="0" cellspacing="0" cellpadding="0" class="posit">
					<tr>
					  <td style="font-size: 10px">{HP_STRING}<br />{MANA_STRING}</td>
					</tr>
					{SCRIPT_SETHP}
					<tr>
					  <td>
						<table border="0" cellspacing="0" cellpadding="0">
						  <tr valign="top">
							<td>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td>{I_HELMET}</td>
								</tr>
								<tr>
								  <td>{I_WEAPON}</td>
								</tr>
								<tr>
								  <td>{I_ARMOR}</td>
								</tr>
								<tr>
								  <td>{I_BELT}</td>
								</tr>
							  </table>
							</td>
							<td>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td valign="top" background="http://static.ivacuum.ru/i/chars/0/{OBRAZ}.gif" width="120" height="220" onmouseout='hideshow();' onmouseover='fastshow("<b>{LOGIN}</b><br>Сила: {STRENGTH}<br>Ловкость: {AGILITY}<br>Интуиция: {PERCEPTION}<br>Выносливость: {VITALITY}<br>{INTELLECT}{WISDOM}{SPIRITUALITY}{FREEDOM}{FREEDOM_OF_SPIRIT}{HOLINESS}<br>Уровень духа: 10.00")'></td>
								</tr>
								<tr>
								  <td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td>{I_R_KARMAN}</td>
										<td><img src="http://static.ivacuum.ru/i/items/w14.gif" alt="Пустой слот левый карман" width="40" height="20" border="0"></td>
										<td>{I_L_KARMAN}</td>
									  </tr>
									</table>
								  </td>
								</tr>
							  </table>
							</td>
							<td>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td>{I_CLIP}</td>
								</tr>
								<tr>
								  <td>{I_AMULET}</td>
								</tr>
								<tr>
								  <td>{I_NARUCHI}</td>
								</tr>
								<tr>
								  <td>{I_GLOVES}</td>
								</tr>
								<tr>
								  <td>{I_RING1}{I_RING2}{I_RING3}</td>
								</tr>
								<tr>
								  <td>{I_SHIELD}</td>
								</tr>
								<tr>
								  <td>{I_BOOTS}</td>
								</tr>
							  </table>
							</td>
						  </tr>
						</table>
					  </td>
					</tr>
				  </table>
				</td>
			  </tr>
			  <tr>
				<td align="left" valign="top"></td>
			  </tr>
			</table>
		  </td>
		</tr>
	  </table>
	</td>
	<td valign="top" width="100%">
	  <table cellspacing="0" cellpadding="0" width="100%" id="f1t">
		<tr>
		  <td colspan="4">
			<table cellspacing="0" cellpadding="0" width="100%">
			  <td>
				<td nowrap>{DRWFL}</td>
				<td align="right" nowrap>
				<!-- BEGIN fight -->
				<a href="JavaScript:top.AddToPrivate('{PL2_LOGIN}', true)"><img src="http://static.ivacuum.ru/i/lock3.gif" width="20" height="15" alt="Приват"></a>{PL2_DRWFL}
				<!-- END fight -->
				</td>
			  </td>
			</table>
		  </td>
		</tr>
		<tr>
		  <td align="center" valign="top" style="padding-left: 5">
			<table cellspacing="0" cellpadding="0" width="100%">
			  <tr>
				<td align="center" width="100%"><span id="messid"><font color="red">{MESSAGE}</font><br></span></td>
			  </tr>
			  <tr>
				<td align="center" style="padding-left: 5"><br>
				  <!-- BEGIN fight -->
				  <table cellspacing="0" cellpadding="0" width="410">
					<!-- END fight -->
					<!-- BEGIN scrolls -->
					<tr>
					  <td align="center" colspan="4" nowrap>{I_SCROLL_1}{I_SCROLL_2}{I_SCROLL_3}{I_SCROLL_4}{I_SCROLL_5}{I_SCROLL_6}{I_SCROLL_7}{I_SCROLL_8}{I_SCROLL_9}{I_SCROLL_10}</td>
					</tr>
					<!-- END scrolls -->
					<!-- BEGIN fight -->
					<tr>
					  <td align="center" valign="bottom"><div style="background-color: f2f0f0"><b>Атака</b></div></td>
					  <td>&nbsp;</td>
					  <td align="center" valign="bottom"><div style="background-color: f2f0f0"><b>Защита</b></div></td>
					</tr>
					<tr>
					  <td>
						<table cellspacing="0" cellpadding="0">
						<script>
						var zones=new Array('в голову','в грудь','в живот','в пояс(пах)','по ногам');
						attacks=parseInt('{ATTACKS}');
						maxiC = attacks+1;
						if (maxiC==2) {wC = new Array('a','D');}
						else if (maxiC==3) {wC = new Array('a','b','D');}
						else if (maxiC==4) {wC = new Array('a','b','c','D');}
						else if (maxiC==5) {wC = new Array('a','b','c','e','D');}
						else if (maxiC==6) {wC = new Array('a','b','c','e','f','D');}
						for (i=1; i<=5; i++)
						{
						  s="<tr><td>";
						  for (j=0; j<attacks; j++)
						  {
						    s+='<input type=radio name=attack'+j+' value='+i+' id="'+wC[j]+i+'" onclick="setattack('+i+','+j+')">';
						  }
						  s+='удар '+zones[i-1]+'</td></tr>';
						  document.write(s);
						}
						</script>
						</table>
					  </td>
					  <td>&nbsp;</td>
					  <td>
						<table cellspacing="0" cellpadding="0">
						  <tr>
							<td><input type="radio" id="D1" name="defend" value="1" onclick="setdefend(1)"><label for="D1">блок {BLOCK1}</label></td>
						  </tr>
						  <tr>
							<td><input type="radio" id="D2" name="defend" value="2" onclick="setdefend(2)"><label for="D2">блок {BLOCK2}</label></td>
						  </tr>
						  <tr>
							<td><input type="radio" id="D3" name="defend" value="3" onclick="setdefend(3)"><label for="D3">блок {BLOCK3}</label></td>
						  </tr>
						  <tr>
							<td><input type="radio" id="D4" name="defend" value="4" onclick="setdefend(4)"><label for="D4">блок {BLOCK4}</label></td>
						  </tr>
						  <tr>
							<td><input type="radio" id="D5" name="defend" value="5" onclick="setdefend(5)"><label for="D5">блок {BLOCK5}</label></td>
						  </tr>
						</table>
					  </td>
					</tr>
					<tr>
					  <td colspan="4" align="center" bgcolor="f2f0f0">
						<table width="100%" cellpadding="0" cellspacing="0">
						  <td width="100">
						  <td align="center"><input type="submit" name="go" id="let_attack" value="Вперед !!!" onclick="return check()"></td>
						  <td width="100" align="right">&nbsp;<a href="/battle.pl?skip=1"><img src="http://static.ivacuum.ru/i/misc/ico_change.gif" alt="Сменить противника (1)" width="16" height="19" style="cursor: hand"></a>&nbsp;<a href="/battle.pl"><img src="http://static.ivacuum.ru/i/misc/ico_refresh.gif" width="16" height="19" style="cursor: hand" alt="Обновить"></a></td>
						</table>
					  </td>
					</tr>
				  </table>
				  <!-- END fight -->
				  <!-- BEGIN specials -->
				  <br>{SPECIAL_SELECTED_1}{SPECIAL_SELECTED_2}{SPECIAL_SELECTED_3}{SPECIAL_SELECTED_4}{SPECIAL_SELECTED_5}{SPECIAL_SELECTED_6}{SPECIAL_SELECTED_7}{SPECIAL_SELECTED_8}{SPECIAL_SELECTED_9}{SPECIAL_SELECTED_10}
				  <table width="225" cellpadding="0" cellspacing="0">
					<tr>
					  <td width="20%"><small><img height="8" src="http://static.ivacuum.ru/i/misc/micro/hit.gif" width="8"> {COUNT_HIT}</small></td>
					  <td width="20%"><small><img height="8" src="http://static.ivacuum.ru/i/misc/micro/krit.gif" width="7"> {COUNT_CRITICAL_HIT}</small></td>
					  <td width="20%"><small><img height="8" src="http://static.ivacuum.ru/i/misc/micro/counter.gif" width="8"> {COUNT_COUNTERBLOW}</small></td>
					  <td width="20%"><small><img height="8" src="http://static.ivacuum.ru/i/misc/micro/block.gif" width="8"> {COUNT_BLOCK}</small></td>
					  <td width="20%"><small><img height="8" src="http://static.ivacuum.ru/i/misc/micro/parry.gif" width="8"> {COUNT_PARRY}</small></td>
					</tr>
				  </table>
				  <!-- END specials -->
				</td>
			  </tr>
			</table>
			<input type="hidden" name="enemy" value="">
		  </td>
		</tr>
	  </table>
	  <!-- BEGIN fight_is_over -->
	  <br />
	  <center>
	  {GAINED_EXP}
	  </center>
	  <br />
	  <center><input type="submit" value="Вернуться" name="gameover"><br /></center>
	  <!-- END fight_is_over -->
	  <!-- BEGIN death -->
	  <br />
	  <center><b>
	  <font color="red">Для вас бой окончен. Ожидаем пока закончат и другие игроки...</font>
	  </center></b>
	  <center><input type="submit" id="refreshb" value="Обновить" name="battle"><br></center>
<!--	  <center><input onclick='window.location="battle.pl"' type="button" value="Обновить"></center>-->
	  <!-- END death -->
	  <!-- BEGIN waiting -->
	  <center><input onclick='window.location="/battle.pl"' type="button" value="Обновить"><br /></center>
	  <!-- END waiting -->
	</td>
	<td valign="top" align="rigth">
	  <!-- BEGIN fight -->
	  <table border="0" cellpadding="1" cellspacing="1">
		<tr valign="top">
		  <td>
			<table width="250" border="0" cellspacing="0" cellpadding="1">
			  <tr>
				<td align="left" valign="top">
				  <table border="0" cellspacing="0" cellpadding="0" class="posit">
					<tr>
					  <td style="font-size: 10px">{PL2_HP_STRING}<br />{PL2_MANA_STRING}</td>
					</tr>
					<tr>
					  <td>
					    <table border="0" cellspacing="0" cellpadding="0">
						  <tr valign="top">
							<td>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td>{PL2_I_HELMET}</td>
								</tr>
								<tr>
								  <td>{PL2_I_WEAPON}</td>
								</tr>
								<tr>
								  <td>{PL2_I_ARMOR}</td>
								</tr>
								<tr>
								  <td>{PL2_I_BELT}</td>
								</tr>
							  </table>
							</td>
							<td>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td align="left" valign="top" background="http://static.ivacuum.ru/i/chars/0/{PL2_OBRAZ}.gif" width="120" height="220" onmouseout='hideshow();' onmouseover='fastshow("<b>{PL2_LOGIN}</b><br>Сила: {PL2_STRENGTH}<br>Ловкость: {PL2_AGILITY}<br>Интуиция: {PL2_PERCEPTION}<br>Выносливость: {PL2_VITALITY}<br>{INTELLECT}{WISDOM}{SPIRITUALITY}{FREEDOM}{FREEDOM_OF_SPIRIT}{HOLINESS}")'></td>
								</tr>
								<tr>
								  <td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td>{PL2_I_R_KARMAN}</td>
										<td><img src="http://static.ivacuum.ru/i/items/w14.gif" alt="Пустой слот левый карман" width="40" height="20"></td>
										<td>{PL2_I_L_KARMAN}</td>
									  </tr>
									</table>
								  </td>
								</tr>
							  </table>
							</td>
							<td>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td>{PL2_I_CLIP}</td>
								</tr>
								<tr>
								  <td>{PL2_I_AMULET}</td>
								</tr>
								<tr>
								  <td>{PL2_I_NARUCHI}</td>
								</tr>
								<tr>
								  <td>{PL2_I_GLOVES}</td>
								</tr>
								<tr>
								  <td>{PL2_I_RING1}{PL2_I_RING2}{PL2_I_RING3}</td>
								</tr>
								<tr>
								  <td>{PL2_I_SHIELD}</td>
								</tr>
								<tr>
								  <td>{PL2_I_BOOTS}</td>
								</tr>
							  </table>
							</td>
						  </tr>
						</table>
					  </td>
					</tr>
				  </table>
				</td>
			  </tr>
			  <tr>
				<td align="left" valign="top"></td>
			  </tr>
			</table>
		  </td>
		</tr>
	  </table>
	  <!-- END fight -->
	  <!-- BEGIN fight_is_over -->
	  <img src="http://static.ivacuum.ru/i/battle/{END_BATTLE_IMG}" width="210" height="230" alt="Бой окончен...">
	  <!-- END figth_is_over -->
	  <!-- BEGIN waiting -->
		<img src="http://static.ivacuum.ru/i/battle/14.jpg" width="210" height="230" alt="">
	  <!-- END waiting -->
	  <!-- BEGIN fight_death -->
	  <img src="http://static.ivacuum.ru/i/battle/14.jpg" width="210" height="230" alt="">
	  <!-- END fight_death -->
	</td>
  </tr>
</form>
</table>
<hr>
{TEAMS_LIST}
{LOG_TEXT}
{CUT_LOG}
{TIMEOUT}
{HIT_HP}
<div id="oMenu" class="menu" onmouseout="closeMenu()"></div>
<textarea id="holdtext" style="display: none;"></textarea>
</body>
</html>