<html>
<head>
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/main.css">
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/move/design3.css">
<meta content="text/html; charset=utf-8" http-equiv="Content-type">
{META}
<script language="JavaScript" src="http://static.ivacuum.ru/i/sl2.21.js"></script>
<script src='http://static.ivacuum.ru/i/commoninf.js'></script>
</head>
<body>
<div id="hint4" class="ahint"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td>
			<table width="100%" border="0" cellspacing="1" cellpadding="0">
				<tr valign="top">
					<td align="center">{DRWFL}</td>
					<td align="left">&nbsp;</td>
				</tr>
				<tr valign="top">
					<td align="left" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="posit">
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td nowrap style="font-size: 10px"><span id="HP"></span>&nbsp;<img src="http://static.ivacuum.ru/i/misc/bk_life_loose.gif" alt="Уровень жизни" name="HP1" width="1" height="8" id="HP1"><img src="http://static.ivacuum.ru/i/misc/bk_life_loose.gif" alt="Уровень жизни" name="HP2" width="1" height="8" id="HP2"><span style="width: 1px; height: 10px"></span><img src="http://static.ivacuum.ru/i/herz.gif" width="10" height="9" alt="Уровень жизни"></td>
										</tr>
										<!-- BEGIN mana -->
										<tr>
											<td nowrap style="font-size: 10px"><span id="Mana"></span>&nbsp;<img src="http://static.ivacuum.ru/i/misc/bk_life_loose.gif" alt="Уровень маны" name="Mana1" width="1" height="8" id="Mana1"><img src="http://static.ivacuum.ru/i/misc/bk_life_loose.gif" alt="Уровень маны" name="Mana2" width="1" height="8" id="Mana2"><span style="width: 1px; height: 10px"></span><img src="http://static.ivacuum.ru/i/Mherz.gif" width="9" height="9" alt="Уровень маны"></td>
										</tr>
										<!-- END mana -->
									</table>
								</td>
							</tr>
							<script>top.setHP({CURRENT_HP},{MAX_HP},{HPSPEED});{MANA}</script>
							<!-- BEGIN scrolls -->
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>{I_SCROLL1}</td>
											<td>{I_SCROLL2}</td>
											<td>{I_SCROLL3}</td>
											<td>{I_SCROLL4}</td>
											<td>{I_SCROLL5}</td>
											<td><img src="http://static.ivacuum.ru/i/items/w109.gif" width="40" height="25" alt="Пустой слот" /></td>
										</tr>
									</table>
									<table cellspacing="0" cellpadding="0">
										<tr>
											{I_SCROLL6}
											{I_SCROLL7}
											{I_SCROLL8}
											{I_SCROLL9}
											{I_SCROLL10}
											<td><img src="http://static.ivacuum.ru/i/items/w109.gif" width="40" height="25" alt="Пустой слот"></td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END scrolls -->
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr valign="top">
											<td>
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td>{I_HELMET}</td>
													</tr>
													<tr>
														<td>{I_WEAPON}</td>
													</tr>
													<tr>
														<td>{I_ARMOR}</td>
													</tr>
													<tr>
														<td>{I_BELT}</td>
													</tr>
												</table>
											</td>
											<td>
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td align="center" valign="top"><a href="/main.pl?edit="><img src="http://static.ivacuum.ru/i/chars/{GENDER}/{OBRAZ}.gif" alt="{LOGIN} (Перейти в &quot;Инвентарь&quot;)" width="120" height="220" /></a></td>
													</tr>
													<tr>
														<td>
															<table border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td>{I_R_KARMAN}</td>
																	<td><img src="http://static.ivacuum.ru/i/items/w15.gif" width="40" height="20" alt="Пустой слот левый карман"></td>
																	<td>{I_L_KARMAN}</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td>
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td>{I_EARRINGS}</td>
													</tr>
													<tr>
														<td>{I_KULON}</td>
													</tr>
													<tr>
														<td>{I_NARUCHI}</td>
													</tr>
													<tr>
														<td>{I_GLOVES}</td>
													</tr>
													<tr>
														<td>
															<table border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td>{I_RING1}</td>
																	<td>{I_RING2}</td>
																	<td>{I_RING3}</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td>{I_SHIELD}</td>
													</tr>
													<tr>
														<td>{I_BOOTS}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td align="left" valign="top" nowrap style="padding-left: 3px;">
					Сила: {STRENGTH}<br>
					Ловкость: {AGILITY}<br>
					Интуиция: {PERCEPTION}<br>
					Выносливость: {VITALITY}<br>
					{INTELLECT}
					{WISDOM}
					{SPIRITUALITY}
					{FREEDOM}
					{FREEDOM_OF_SPIRIT}
					{HOLINESS}
					{FREE_UPR}{FREE_SKILLS}
					<hr>
					Опыт: {EXP} ({NEXTEXP})<br>
					Уровень: {LEVEL}<br>
					Побед: {WINS}<br>
					Поражений: {LOSSES}<br>
					Ничьих: {DRAWS}<br>
					Деньги: <b>{MONEY}</b> кр.<br>
					{KLAN}
					</td>
				</tr>
				<tr valign="top">
					<td colspan="2"><small></small></td>
				</tr>
			</table>
		</td>
		<td align="right">{MESSAGE}<img src="http://static.ivacuum.ru/i/1x1.gif" width="1" height="5"><br>
		<script language="javascript" type="text/javascript">
		function solo(n)
		{
			if( is_accessible == true )
			{
				window.location.href = '/main.pl?path='+n;
			}
		}

		function imover(im)
		{
			im.filters.Glow.Enabled = true;
		}

		function imout(im)
		{
			im.filters.Glow.Enabled = false;
		}

		function Down()
		{
			top.CtrlPress = window.event.ctrlKey;
		}
		document.onmousedown = Down;
		</script>
		<style type="text/css">
		img.aFilter {
			filter: Glow(color=#FFFFFF, Strength=3, Enabled=0);
			cursor: hand;
		}

		hr {
			height: 1px;
		}
		</style>
		<table border="0" cellpadding="0" cellspacing="0">
			<tr align="right" valign="top">
				<td>
					<div style="position: relative; cursor: pointer;" id="ione"><img src="http://static.ivacuum.ru/i/images/300x225/{NIGHT}2bg.jpg" alt="" border="1">
					<div style="position: absolute; left: 142px; top: 17px; width: 236px; height: 157px; z-index: 90; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2klub.gif" width="236" height="157" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o0')" onmousemove="fastshow2('<strong>Бойцовский Клуб</strong>');"></div>
					<div style="position: absolute; left: 213px; top: 140px; width: 71px; height: 45px; z-index: 91; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2remont.gif" width="71" height="45" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o1')" onmousemove="fastshow2('<strong>Ремонтная мастерская</strong>');"></div>
					<div style="position: absolute; left: 157px; top: 135px; width: 73px; height: 47px; z-index: 91; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2shop.gif" width="73" height="47" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o2')" onmousemove="fastshow2('<strong>Магазин</strong>');"></div>
					<div style="position: absolute; left: 73px; top: 135px; width: 92px; height: 62px; z-index: 92; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2vokzal.gif" width="92" height="62" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o3')" onmousemove="fastshow2('<strong>Вокзал</strong>');"></div>
					<div style="position: absolute; left: 50px; top: 143px; width: 48px; height: 36px; z-index: 91; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2comission.gif" width="48" height="36" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o4')" onmousemove="fastshow2('<strong>Коммисионка</strong>');"></div>
					<div style="position: absolute; left: 384px; top: 159px; width: 70px; height: 50px; z-index: 93; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/opt.gif" width="70" height="50" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o5')" onmousemove="fastshow2('<strong>Оптовый магазин</strong>');"></div>
					<!--<div style="position: absolute; left: 90px; top: 144px; width: 75px; height: 90px; z-index: 910; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/stellav.gif" width="75" height="90" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o6')" onmousemove="fastshow2('<strong>Стела Выбора</strong>');"></div>-->
					<div style="position: absolute; left: 300px; top: 130px; width: 111px; height: 72px; z-index: 92; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2pochta.gif" width="111" height="72" alt="" class="aFilter" onmouseover="imover(this);" onmouseout="imout(this); hideshow();" onclick="solo('o7')" onmousemove="fastshow2('<strong>Почтовое отделение</strong>');"></div>
					<div style="position: absolute; left: 376px; top: 107px; width: 86px; height: 63px; z-index: 90; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/loto.gif" width="86" height="63" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o8')" onmousemove="fastshow2('<strong>Лотерейный дом</strong>');"></div>
					<div style="position: absolute; left: 257px; top: 150px; width: 79px; height: 88px; z-index: 93; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2cerkov.gif" width="79" height="88" alt="" class="aFilter" onmouseover="imover(this);" onmouseout="imout(this); hideshow();" onclick="alert('Не работает. Находится на реконструкции.')" onmousemove="fastshow2('<strong>Храм</strong>');"></div>
					<div style="position: absolute; left: 166px; top: 149px; width: 27px; height: 55px; z-index: 99; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2pm.gif" width="27" height="55" alt="" class="aFilter" onmouseover="imover(this);" onmouseout="imout(this); hideshow();" onclick="" onmousemove="fastshow2('<strong>Памятник Мироздателю</strong>');"></div>
					<div style="position: absolute; left: 446px; top: 153px; width: 30px; height: 54px; z-index: 94; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/2strelka.gif" width="30" height="54" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o12')" onmousemove="fastshow2('<strong>Страшилкина улица</strong>');"></div>
					<div style="position: absolute; left: 16px; top: 155px; width: 30px; height: 54px; z-index: 910; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100, Style=0);"><img src="http://static.ivacuum.ru/i/images/subimages/3strelka.gif" width="30" height="54" alt="" class="aFilter" onmouseover="imover(this)" onmouseout="imout(this); hideshow();" onclick="solo('o13')" onmousemove="fastshow2('<strong>Парк развлечений</strong>');"></div>
					{STAR}
					{STAR2}
					<div style="position: absolute; right: 0px; top: 0px; width: 1px; height: 1px; z-index: 101; overflow: visible;">
					<table width="80" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="0" valign="bottom" align="left"><a href="/main.pl"><img src="http://static.ivacuum.ru/i/move/rel_1.gif" width="15" height="16" alt="Обновить" border="0"></a></td>
							<td>
								<table width="80" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td colspan="3" align="center"><img src="http://static.ivacuum.ru/i/move/navigatin_462s.gif" width="80" height="3"></td>
									</tr>
									<tr>
										<td colspan="3" align="center">
											<table width="80" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td><img src="http://static.ivacuum.ru/i/move/navigatin_481.gif" width="9" height="8"></td>
													<td width="100%" bgcolor="#000000">
														<table border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td nowrap="nowrap" align="center"><div align="center" style="font-size: 4px; padding: 0px; border: solid black 0px; text-align: center" id="prcont"></div>
																<script language="javascript" type="text/javascript">
																var s = '';
																
																for( i = 1; i <= 32; i++ )
																{
																	s += '<span id="progress'+i+'">&nbsp;</span>';
																	
																	if( i < 32 )
																	{
																		s+='&nbsp;';
																	}
																}
																
																document.getElementById('prcont').innerHTML=s;
																</script>
																</td>
															</tr>
														</table>
													</td>
													<td><img src="http://static.ivacuum.ru/i/move/navigatin_50s.gif" width="7" height="8"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td colspan="3"><img src="http://static.ivacuum.ru/i/move/navigatin_tt1_532.gif" width="80" height="5"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
					</div>
				</td>
				<td>
				<div style="visibility: hidden; height: 0px" id="moveto">0</div>
				<!-- <br><span class="menutop"><nobr>Центральная Площадь</nobr></span>-->
				</td>
			</tr>
		</table>
		<div id="mmoves" style="background-color: #FFFFCC; visibility: hidden; overflow: visible; position: absolute; border-color: #666666; border-style: solid; border-width: 1px; padding: 2px; white-space: nowrap; text-align: left; font-size: 11px;"></div>

		<script language="javascript" type="text/javascript">
		var progressEnd = 32;		// set to number of progress <span>'s.
		var progressColor = '#00CC00';	// set to progress bar color
		var mtime = parseInt('{GOING_TIME}');

		if( !mtime || mtime <=0 )
		{
			mtime=0;
		}

		var progressInterval = Math.round(mtime*1000/progressEnd);	// set to time between updates (milli-seconds)
		var is_accessible = true;
		var progressAt = progressEnd;
		var progressTimer;

		function progress_clear()
		{
			for( var i = 1; i <= progressEnd; i++ )
			{
				document.getElementById('progress'+i).style.backgroundColor = 'transparent';
			}

			progressAt = 0;
			is_accessible = false;
			document.getElementById('moveto').disabled = true;
		}

		function progress_update()
		{
			progressAt++;
			//if (progressAt > progressEnd) progress_clear();
			if (progressAt > progressEnd)
			{
				is_accessible = true;
				document.getElementById('moveto').disabled = false;
			}
			else
			{
				document.getElementById('progress'+progressAt).style.backgroundColor = progressColor;
				progressTimer = setTimeout('progress_update()',progressInterval);
			}
		}

		function progress_stop()
		{
			clearTimeout(progressTimer);
			progress_clear();
		}

		function check(it)
		{
			if( document.getElementById(it).disabled == true )
			{
				return false;
			}
			else
			{
				return true;
			}
		}

		function check_access()
		{
			return is_accessible;
		}

		if( mtime > 0 )
		{
			progress_clear();
			progress_update();
		}
		else
		{
			for( var i = 1; i <= progressEnd; i++ )
			{
				document.getElementById('progress'+i).style.backgroundColor = progressColor;
			}
		}
		</script>
		<hr>
		<form method="get" action="main.pl" style="padding: 0px; margin: 2px;">
		<input type="button" value="Напасть" class="btn" onclick="findlogin('Напасть на','main.pl','attack', '')">
		<input name="site" type="button" class="btn" id="site" onclick="window.open('http://ivacuum.ru/', 'site', 'location=yes,menubar=yes,status=yes,resizable=yes,toolbar=yes,scrollbars=yes,scrollbars=yes')" value=" Сайт ">
		</form>
		<small><b>Внимание!</b> Никогда и никому не говорите пароль от своего персонажа. Не вводите пароль на других сайтах, типа "новый город", "лотерея", "там, где все дают на халяву". Пароль не нужен ни паладинам, ни кланам, ни администрации, <u>только взломщикам</u> для кражи вашего героя.<br><i>Администрация.</i></small><br><br>
		</td>
	</tr>
</table>
</div>
</body>
</html>