<html>
<head>
<link rel="stylesheet" type="text/css" href="i/main.css">
<meta content="text/html; charset=windows-1251" http-equiv="Content-type">
<script src='i/commoninf.js'></script>
<script>
function sol(n)
{
	window.open('ch.php?online=1&n='+n,'onlines','width=400,height=500,location=no,scrollbars=yes,resizable=yes');
}
</script>

<meta content="{REFRESH_TIME}; URL=main.php?setch=1" http-equiv="refresh">
<script>top.RefreshChat();top.rld(true);</script>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="e2e0e0">

<!-- BEGIN txt -->
<br><br><center><i>Топаем {ROOM_NAME}...</i></center>
<!-- END txt -->

</body>
</html>