<html>
<head>
<link rel="stylesheet" type="text/css" href="i/main.css">
<meta content="text/html; charset=windows-1251" http-equiv="Content-type">
<script>
<!--
function imover(im)
{
	im.filters.Alpha.Enabled = false;
}

function imout(im)
{
	im.filters.Alpha.Enabled = true;
}
//-->
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="e2e0e0">

<table width="100%" cellspacing="0" cellpadding="0">
<form method="post" action="main.php">
<tr>
	<td align="center"><h3>Выбрать образ персонажа "{LOGIN}"</h3></td>
	<td valign="top" align="right"><img src="i/1x1.gif" width="1" height="5"><br>&nbsp;<input type="button" name="edit" onclick="location.href='main.php?edit=';" value="Вернуться"><br></td>
</tr>
</form>
</table>
{0}
{1}
{2}
{3}
{4}
{5}
{6}
{7}
{8}
{9}
{10}
{11}
{12}
{13}
{14}
{15}
{16}
{17}
{18}
{19}
{20}
{21}
{22}
{23}
{24}
{25}
{400}
{500}
{501}
{502}
{600}
{10001}
{10002}
{10003}
{10013}
{10014}
{10015}
{10016}
{10017}
<br><br>
</body>
</html>