<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>Карта</title>
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/main.css">
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/move/design3.css">
<script src="http://static.ivacuum.ru/i/commoninf.js"></script>
<style>
.clubitem
{
	font-size: 10px;
	background-color: #999999;
	border-width: 3px;
	border-color: #333333;
	border-style: solid;
	padding: 1px;
}
</style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="e2e0e0">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
	<tr>
 		<td align="left" nowrap><h3 style="padding: 0px; margin: 0px;">Этаж 2. Карта</h3></td>
		<td width="100%" align="right"><input class="btn" type="button" value="Обновить" onclick="location.href='main.php?clubmap=1'">&nbsp; <input class="btn" type="button" value="Вернуться" onclick="top.returned()"></td>
	</tr>
</table>
<br />
<table border="0" align="center" cellpadding="0" cellspacing="0" style="border-color: #E8E8E8 border-width: 3px; border-style: solid;">
	<tr align="center" valign="middle">
		<td><span style="width: 120px; height: 80px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_6_3} <strong>Башня рыцарей-магов</strong> (<strong>{1_100_1_6_3}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr align="center" valign="middle">
		<td><img src="http://static.ivacuum.ru/i/maparrv.gif" width="20" height="20" alt=""></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr align="center" valign="middle">
		<td><span style="width:120px; height:80px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_6_1}<strong>Рыцарский зал</strong> (<strong>{1_100_1_6_1}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrh.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 120px; height: 80px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;"> <strong>Таверна -Веселый Кабан-</strong> (<strong>0</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr align="center" valign="middle">
		<td><img src="http://static.ivacuum.ru/i/maparrv.gif" width="20" height="20" alt=""></td>
		<td>&nbsp;</td>
		<td><img src="http://static.ivacuum.ru/i/maparrv.gif" width="20" height="20" alt=""></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr align="center" valign="middle">
		<td><span style="width: 120px; height: 80px;" class="clubitem">
		<table cellpadding="0" cellspacing="0" width="100%" height="100%">
			<tr valign="top">
				<td align="center" style="font-size: 10px;">{FLAG_1_100_1_6_5}<strong>Этаж 2</strong> (<strong>{1_100_1_6_5}</strong>)</td>
			</tr>
			<tr valign="bottom">
				<td align="left" style="font-size: 10px;">Переходы:<br /><strong>&nbsp;Бойцовский Клуб<br />&nbsp;Этаж 3</strong></td>
			</tr>
		</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrh.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 120px; height: 80px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_6_2}<strong>Торговый Зал</strong> (<strong>{1_100_1_6_2}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrh.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 120px; height: 80px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_6_4}<strong>Комната Знахаря</strong> (<strong>{1_100_1_6_4}</strong>)</td>
				</tr>
			</table>
		</span></td>
	</tr>
</table>
</body>
</html>