<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Карта</title>
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/main.css">
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/move/design3.css">
<script src="http://static.ivacuum.ru/i/commoninf.js"></script>
<style>
.clubitem
{
	font-size: 10px;
	background-color: #999999;
	border-width: 3px;
	border-color: #333333;
	border-style: solid;
	padding: 1px;
}
</style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="e2e0e0">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
	<tr>
 		<td align="left" nowrap><h3 style="padding: 0px; margin: 0px;">Бойцовский Клуб. Карта</h3></td>
		<td width="100%" align="right"><input class="btn" type="button" value="Обновить" onclick="location.href='/main.pl?clubmap=1'">&nbsp; <input class="btn" type="button" value="Вернуться" onclick="top.returned()"></td>
	</tr>
</table>
<br />
<table border="0" align="center" cellpadding="0" cellspacing="0" style="border-color: #E8E8E8 border-width: 3px; border-style: solid;">
	<tr align="center" valign="middle">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><span style="width: 90px; height: 60px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_11}<strong>Зал воинов 2</strong> (<strong>{1_100_1_11}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	 </tr>
	 <tr align="center" valign="middle">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><img src="http://static.ivacuum.ru/i/maparrv.gif" width="20" height="20" alt=""></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr align="center" valign="middle">
		<td><span style="width: 90px; height: 60px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_10}<strong>Зал воинов</strong> (<strong>{1_100_1_10}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrh.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 160px; height: 100px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_9}<strong>Бойцовский Клуб</strong> (<strong>{1_100_1_9}</strong>)</td>
				</tr>
				<tr valign="bottom"><td align="left" style="font-size: 10px;">Переходы:<br /><strong>&nbsp;Центральная Площадь<br />&nbsp;Этаж 2</strong></td></tr>
			</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrh.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 90px; height: 60px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_12}<strong>Зал воинов 3</strong> (<strong>{1_100_1_12}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrhl.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 90px; height: 60px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_5}<strong>Комната Перехода</strong> (<strong>{1_100_1_5}</strong>)</td>
				</tr>
				<tr valign="bottom">
					<td align="left" style="font-size: 10px;">Последний рубеж детства</td>
				</tr>
			</table>
		</span></td>
		<td><img src="http://static.ivacuum.ru/i/maparrh.gif" width="20" height="20" alt=""></td>
		<td><span style="width: 90px; height: 100px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_1}<strong>Комната для новичков</strong> (<strong>{1_100_1_1}</strong>)</td>
				</tr>
				<tr valign="bottom">
					<td align="left" style="font-size: 10px;">Уровень: <strong>0-3</strong></td>
				</tr>
			</table>
		</span></td>
	</tr>
	<tr align="center" valign="middle">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><img src="http://static.ivacuum.ru/i/maparrv.gif" width="20" height="20" alt=""></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr align="center" valign="middle">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><span style="width: 90px; height: 60px;" class="clubitem">
			<table cellpadding="0" cellspacing="0" width="100%" height="100%">
				<tr valign="top">
					<td align="center" style="font-size: 10px;">{FLAG_1_100_1_13}<strong>Будуар</strong> (<strong>{1_100_1_13}</strong>)</td>
				</tr>
			</table>
		</span></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
</body>
</html>