<html>
<head>
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/main.css">
<link rel="stylesheet" type="text/css" href="http://static.ivacuum.ru/i/move/design3.css">
<meta content="text/html; charset=utf-8" http-equiv="Content-type">
<script language="JavaScript" src="http://static.ivacuum.ru/i/sl2.21.js"></script>
</head>
<body bgcolor="e2e0e0">
<script src="http://static.ivacuum.ru/i/commoninf.js"></script>
<div id="hint4" class="ahint"></div>
<div style="float: left">&nbsp; &nbsp; &nbsp;{DRWFL}</div><p align="right"><input class="btn" type="button" value="Вернуться" onclick="top.returned()"></p>
{MESSAGE}
<form action="vip.php" method="post">
<fieldset style="width: 810px"><legend><h4>Редирект</h4></legend>
Адрес: <input name="redirect" style="width: 682px" type="text" value="{REDIRECT}"> <input name="submit" type="submit" value="Вперед"></fieldset>
</form>
</body>
</html>